<!doctype html>
<html lang="en">
<head>
    <title><%=__page.title%></title>
    <link rel="shortcut icon" href="/img/favicon.png" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/<%=__page.template%>.css">
    <% for ( let i = 0 ; i < __js.length ; i++ ) { %>
    <script type="text/javascript" src="<%=__js[i]%>"></script>
    <% } %>
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript" src="/js/pages/<%=__page.template%>.js"></script>
</head>
<body>
    <%- include('components/header'); %>
    <%- include('components/nav'); %>
    <div id="content">
        <%- include('pages/'+__page.template); %>
    </div>
    <%- include('components/footer'); %>
</body>
</html>
