<div id="widgets">
    <% for ( let i = 0 ; i < widgets.length ; i++ ) {
        const widget = widgets[i];
    %>
        <a href="/widgets/<%=widget.id%>">
            <div class="widget-card">
                <div class="top"><%=widget.name%></div>
                <div><%=widget.description%></div>
                <div><span class="label">Revenue:</span><span class="value"><span class="money"><%=widget.revenue%></span></span></div>
                <div class="bottom"><span class="label">Timestamp:</span><span class="value"><%=widget.timestamp%></span></div>
            </div>
        </a>
        <% if ( i % 3 === 2 ) { %>
            <div class="clearfix"></div>
        <% } %>
    <% } %>
    <div class="clearfix"></div>
</div>