<div id="widget">
    <% if (__error) { %>
        <div class="error">
            <%=__error%>
        </div>
    <% } else { %>
        <div id="return-link">
            <a href="/widgets">Return to Widget List</a>
        </div>
        <h2 id="widget-name"><%=widget.name%> <span class="widget-id">id: <%=widget.id%></span></h2>
        <p id="widget-description">
            <%=widget.description%>
        </p>
        <table id="widget-details">
            <tr>
                <td class="label">
                    Category
                </td>
                <td>
                    <%=widget.category%>
                </td>
            </tr>
            <tr>
                <td class="label">
                    Revenue
                </td>
                <td>
                    <span class="money"><%=widget.revenue%></span>
                </td>
            </tr>
            <tr>
                <td class="label">
                    Timestamp
                </td>
                <td>
                    <%=widget.timestamp%>
                </td>
            </tr>
        </table>
    <% } %>
</div>